<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', path='main.css') }}" />
    <title>Document</title>
</head>
<body class="is-preload">
        <section id="sidebar">
				<div class="inner">
					<nav>
						<ul>
							<li><a href="#intro">Welcome</a></li>
							<li><a href="#two">What we do</a></li>
						</ul>
					</nav>
				</div>
		</section>
</body>
</html>