<html>
<head>
        <title>Video Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="icon" href="{{url_for('static', path='images/weclassr.png')}}" type="image/icon type" >
    <style>
        body{
            background: linear-gradient(90deg, #B84E91, #776bcc);
            color: white;
        }

        button{
            background-color: #B84E91;
        }
    </style>
</head>
<body class="m-0">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color:#fff !important; text-decoration: none;">
                <a class="navbar-brand" href="/" style="color:#B84E91;">WeClass</a>              </nav>
        <div class="container mt-5 mb-3">
                <div class="row">
                    <h1>{{ video_title }}</h1>
                    <p class="lead">
                        <strong>Professor {{ profname }}</strong>
                        <br />
                    </p>
                    <div class="ratio ratio-16x9">
                        <iframe id="video-ifr" src="{{url}}" style="border-radius:25px;">
                        </iframe>
                    </div>
                    <!-- <button id="closeButton">Click to Close</button> -->
                    <!-- <h1 id=room-id style="color: white;">{{room_id}}</h1> -->
                    <div style="margin-block: 20px; "></div>
                    <button class="btn btn-primary btn-lg active" onClick="showForm(event, '{{room_id}}')" id="connect" style="background-color: #fff; color: #B84E91; border-radius: 10px;">Connect</button>
                    <form class="" action="" onsubmit="sendMessage(event)" id="form" style="display: none">
                        <div class="mt-1 column">
                            <input type="text" class="form-control" id="messageText" autocomplete="off" required style="border-radius: 10px;">
                            <!--
                            <input type="text" class="form-control" id="timestamp1" autocomplete="off"/>
                            <input type="text" class="form-control" id="timestamp2" autocomplete="off"/>
                            -->
                            <button type="submit" class="mt-2 btn btn-primary" style="color:#B84E91; background-color:white;">Send</button>
                        </div>
                    </form>
                    <ul id='messages' class="list-group mt-2" style="border-radius: 20px;">
                        <!--
                        <li class="list-group-item">
                            <span class="text-muted mr-1">2:12</span>
                            <span>My question</span>
                        </li>
                        <li class="list-group-item">
                            <span class="text-muted mr-1">2:19</span>
                            <span>My question</span>
                        </li>
                    -->
                    </ul>
                </div>
            </div>
        <script>
            // var messagesFromDB = {{ messages|tojson|safe }};
            // console.log("Messages from database:", messagesFromDatabase);
            // var closeButton = document.getElementById("closeButton");
            // closeButton.addEventListener("click", function() {
            //     ws.send(JSON.stringify({ close: true}));
            // });
            // const storedClientId = localStorage.getItem("clientID")
            // const storedClientId = localStorage.getItem("clientID")
            // const clientID = storedClientID || Date.now()
            // localStorage.setItem("clientID", clientID)
            // const ws = new WebSocket(`ws://localhost:8000/ws/${clientID}`)
            
            // const clientID = storedClientID || Date.now()
            // localStorage.setItem("clientID", clientID)
            // const ws = new WebSocket(`ws://localhost:8000/ws/${clientID}`)
            // window.onload = () => {
            //     const storedClientId = localStorage.getItem("clientID")
            // }
            var tag = document.createElement("script")
            tag.id = "iframe-demo"
            tag.src = "https://www.youtube.com/iframe_api"
            var firstScriptTag = document.getElementsByTagName("script")[0]
            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag)

            var player;
            function onYouTubeIframeAPIReady() {
                player = new YT.Player("video-ifr", {
                    events: {
                        "onReady": (ev) => player = ev.target,
                    }
                })
            }

            function promptForName() {
                let userName = localStorage.getItem("userName");
                if (!userName) {
                    userName = prompt("Name or Press Enter To Stay Anonymous:") || Date.now();
                    localStorage.setItem("userName", userName);
                }
                return userName;
            }


        // Get the user's name
            const userName = promptForName();
            console.log(userName)

            var clientID = userName;
            let ws;

            

            function formatTimestamp(timestamp) {
                let hours = 0;
                let minutes = 0;
                let seconds = timestamp;
                while (seconds >= 60) {
                    seconds -= 60;
                    minutes++;
                }
                while (minutes >= 60) {
                    minutes -= 60;
                    hours++;
                }
                return `${hours > 0 ? hours.toString() + ":" : ""}${minutes}:${seconds.toString().padStart(2, "0")}`;
            }

            function addMessage(timestamp, message, clientID) {
                console.log("at addMessage")
                var messageEl = document.createElement("li")
                messageEl.classList.add("list-group-item")
                
                var clientEl = document.createElement("div")
                clientEl.classList.add('text-muted', 'mb-1')
                clientEl.textContent = clientID

                var timestampEl = document.createElement("span")
                timestampEl.classList.add("text-muted", "mr-1")
                timestampEl.textContent = formatTimestamp(timestamp)

                var messageRealEl = document.createElement("span")
                messageRealEl.textContent = message

                messageEl.appendChild(clientEl)
                messageEl.appendChild(timestampEl)
                messageEl.appendChild(document.createTextNode(" "))
                messageEl.appendChild(messageRealEl)
                var messages = document.querySelector("#messages")
                messages.appendChild(messageEl)
            }

            function processMessage(event) {
                console.log("got here")
                console.log(event);
                let d = JSON.parse(event.data);
                console.log(d.timestamp, d.message, d.clientID)
                addMessage(d.timestamp, d.message, d.clientID);
            }


            function sendMessage(event) {
                event.preventDefault()
                var input = document.getElementById("messageText")
                var message = input.value
                var timestamp = Math.round(player.getCurrentTime())
                //addMessage(timestamp, message)
                console.log(clientID, message, timestamp)
                ws.send(JSON.stringify({ timestamp: timestamp, message: message, clientID: clientID }));

                input.value = ''
            }
            
            function showForm(event, roomID) {
                var button = document.getElementById("connect");
                var form = document.getElementById("form");
                button.style.display = "none";
                form.style.display = "block";
                event.preventDefault()
                if (ws) {
                    ws.onmessage = processMessage
                }
                else{
                    const wsURL = `ws://localhost:8000/ws/${roomID}/${clientID}`;
                    ws = new WebSocket(wsURL)

                    ws.onopen = () => {
                        ws.onmessage = processMessage;
                    }
                    ws.onerror = () => {
                        console.error(error)
                    }
                }
            }

        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>